.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 300px;
}

.button {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.input-field[type="datetime-local"] {
  font-size: 1rem;
  cursor: auto;

}